<!DOCTYPE html>
<html>
<head>
  <title>Sserver</title>
  <%= stylesheet_link_tag :all %>
  <script>
    window.ss = {
      facebook : {
        userId : 0
      }
    };
  </script>
  <%= javascript_include_tag :defaults %>
  <%= yield :javascript %>
  <%= csrf_meta_tag %>
</head>
  <body>

    <%= yield %>

    <%= yield :footer %>
  </body>
</html>
